<div class="enlaces bg-black">
  <a href="https://www.juntadeandalucia.es/informacion/contacto.html"
    >Contacto</a
  >
  <a href="https://www.juntadeandalucia.es/informacion/mapaweb.html"
    >Mapa web</a
  >
  <a href="https://twitter.com/andaluciajunta">
    <i class="bi bi-twitter"></i>
  </a>
  <a
    href="https://consent.youtube.com/m?continue=https%3A%2F%2Fwww.youtube.com%2F%40InformaJunta%3Fcbrd%3D1&gl=ES&m=0&pc=yt&cm=2&hl=es&src=1"
  >
    <i class="bi bi-youtube"></i>
  </a>
  <a href="https://www.instagram.com/andaluciajunta/">
    <i class="bi bi-instagram"></i>
  </a>
  <a href="https://www.facebook.com/AndaluciaJunta">
    <i class="bi bi-facebook"></i>
  </a>
  <a href="https://www.flickr.com/photos/juntainforma"> Flickr </a>
</div>
