<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <h1>DIRECTO A</h1>
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active">
      •
    </li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1">•</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2">•</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3">•</li>
  </ol>
  <div class="carousel-inner">
    <!-- PRIMER GRUPO -->
    <div class="carousel-item active">
      <div class="cardContent">
        <a href="https://www.juntadeandalucia.es/temas/estudiar.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estudiar</h5>
              <p>Escolarización 2023/2024</p>
              <p>Pasen</p>
              <p>Becas de la Junta de Andalucia</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/trabajar.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Trabajar</h5>
              <p>Renovar demanada de empleo</p>
              <p>Ofertas de empleo</p>
              <p>Oposiciones secundaria, régimen especial y FP</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/salud.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tu salud</h5>
              <p>Cita en centros sanitarios</p>
              <p>Salud Responde</p>
              <p>Solicita o renueva la targeta sanitaria</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/salud.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Vivienda y consumo</h5>
              <p>Ayudas al alquiler de viviendas</p>
              <p>Ayudas Plan EcoVivienda</p>
              <p>Hojas de quejas y reclamaciones</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- SEGUNDO GRUPO -->
    <div class="carousel-item">
      <div class="cardContent">
        <a href="https://www.juntadeandalucia.es/temas/administracion.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Atencion administrativa e impuestos</h5>
              <p>Cita en las oficinas de asistencia en materia de registros.</p>
              <p>Cálculo de plazos para la realización de un tramite</p>
              <p>Modelo 046</p>
            </div>
          </div>
        </a>
        <a
          href="https://www.juntadeandalucia.es/temas/contratacion-publica.html"
        >
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contratación pública</h5>
              <p>Licitaciones en plazo de presentación de ofertas</p>
              <p>Buscador de licitaciones</p>
              <p>Modelos de pliegos y contratos</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/cultura-ocio.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cultura, ocio y deporte</h5>
              <p>
                Andalucía Maps: recorrido virtual por los recursos turísticos
              </p>
              <p>Agenda cultural de Andalucía</p>
              <p>Servicio de préstamo de libros electrónicis (eBlibio)</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/empresas.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Empresas y profesionales</h5>
              <p>
                Registro Sociedades Laborales de Andalucía: Calificación e
                inscripción
              </p>
              <p>Localiza los centros andaluces de emprendimiento</p>
              <p>Formularios para conflictos colectivos (SERCLA)</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- TERCER GRUPO -->
    <div class="carousel-item">
      <div class="cardContent">
        <a href="https://www.juntadeandalucia.es/temas/familias-igualdad.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Familias e igualdad</h5>
              <p>Consigue el carné joven</p>
              <p>Expide o renueva el título de familia numerosa</p>
              <p>Obtén la Tarjeta Andalucía Junta Sesentaycinco</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/seguridad.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Justicia, seguridad y emergencias</h5>
              <p>Simulador de asistencia juridica gratuita</p>
              <p>Centros provinciales de la mujer</p>
              <p>Directorios judiciales</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/tic.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Tecnologías de la Información y Comunicación
              </h5>
              <p>Encuentra tu centro de la red Guadalinfo</p>
              <p>Fórmate en el sector TIC</p>
              <p>Andalucía Vuela. Plataforma digital</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/medio-ambiente.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Medio ambiente</h5>
              <p>Obtén la licencia de caza</p>
              <p>Solicita la licencia de pesca continental</p>
              <p>Reserva tu visita en los Espacios Naturales de Andalucía</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- CUARTO GRUPO -->
    <div class="carousel-item">
      <div class="cardContent">
        <a href="juntadeandalucia.es/temas/sectores.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sectores de actividad</h5>
              <p>Marca Corazón Andaluz</p>
              <p>Campaña Solicitud Única 2023</p>
              <p>Apertura de centros comerciales en domingos y festivos</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/participacion.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asociaciones y voluntariado</h5>
              <p>Registro de Asociaciones y Federaciones de Asociaciones</p>
              <p>Cómo construir una nueva fundación</p>
              <p>Carné de persona voluntaria en Andalucía</p>
            </div>
          </div>
        </a>
        <a href="https://www.juntadeandalucia.es/temas/transporte.html">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tráfico y transporte</h5>
              <p>Solicita cita para la ITV</p>
              <p>Servicio de transporte público</p>
              <p>
                Targeta Joven de Transporte: Solicitud-Recogida y documentacion
                necesaria
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</div>
